body * {
    font-family: 'Courier New', Courier, monospace;
    border: 2px red dotted;
}

h1 {
    margin: auto;
    text-align: center;
}

.navigation-bar {
    display: flex;
    height: auto;
    width: 100%;
}

.logo {
    text-align: center;
    text-justify: auto;
    font-size: 24px;
    font-weight: bolder;
    color: black;
    flex: 1;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
}

.button-group button {
    background-color: #000000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #707070;
}

.body-text {
    margin: 40px;
}

.pdf-embed {
    display: block;
    margin: auto;
    width: 80%;
    height: 900px;
}

